html {
	background: url('underwater_lights-wallpaper-2560x1440.jpg');
	font-size: 10pt;
}
form input[type=submit] {
	border: 0px solid rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 0px;
	#text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
form input[type=reset] {
	border: 0px solid rgba(0, 0, 0, 0.3);
	color: yellow;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 0px;
	#text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
form input.test {
	border: 0px solid rgba(0, 0, 0, 0.3);
	color: #4887fe;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 0px;
	#text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}


a.back{
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 0px;
	color: #5379fa;
	 font-family: 'Open Sans', sans-serif;
 	background: #ffffff;
	font-size: 16px;
	font-weight: 40;
	padding: 6px;
	margin-top: 10px;
}

::-webkit-input-placeholder{
   color: rgba(255,100,100,100);
   opacity: 0.8;
}

::-moz-input-placeholder{
   color: rgba(255,100,100,100);
   opacity: 0.8;
}
