<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="finalize">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/codel"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>	
	</bean>
	
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">
        	<value>classpath:hibernate.cfg.xml</value>
    	</property>
	
		<property name="dataSource" ref="dataSource"/>
		<!-- <property name="mappingResources">
			<list>
				<value>./domain/Contact.hbm.xml</value>
				<value>./domain/Address.hbm.xml</value>
				<value>./domain/ContactGroup.hbm.xml</value>
				<value>./domain/PhoneNumber.hbm.xml</value>
			</list>
		</property>
		 -->
		 
		<!-- <property name="mappingLocations">
			<list>
				<value>classpath:./domain/*.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="current_session_context_class">thread</prop>
			 	<prop key="connection.pool_size">50</prop>
				<prop key="hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		 -->
		
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref ="sessionFactory"></property>
		<property name="checkWriteOperations" value="false"/>
	</bean>

	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> 	
	

	<bean id="springDAOContactID" class="domain.DAOContact">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<tx:advice id="txAdvice"> 
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="sav*" propagation="REQUIRED" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes> 
	</tx:advice>
	
	<aop:config>
		<aop:advisor pointcut="execution(* domain.*.*(..))" advice-ref="txAdvice"/>
	</aop:config>
	
	<bean id="springEmailLogger" class="domain.EmailLogger">
	</bean>
	
	<aop:config>
		<aop:aspect id="springAspectEmailLogger" ref="springEmailLogger">
			<aop:pointcut id="setEmailPointcut"
				expression="execution(* domain.Contact.setEmail(String))"/>
			<aop:before pointcut-ref="setEmailPointcut" method="log"/>			
		</aop:aspect>
	</aop:config>

	<bean id="springContactID0" class="domain.Contact" scope="singleton">
		<property name="firstName" value="A"/>
		<property name="lastName" value="B"/>
		<property name="email" value="a@c.co"/>
		<property name="address"><ref bean="springAddressID"/></property>
		<property name="phoneNumbers">
			<set>
				<ref bean="springPhoneNumberID"/>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="home"></property>
					<property name="phoneNumber" value="0178987898"></property>	
				</bean>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="fax"></property>
					<property name="phoneNumber" value="0178987898"></property>	
				</bean>
			</set>
		</property>
		<property name="books">
			<set>
				<ref bean="springContactGroupID0"/>
				<ref bean="springContactGroupID1"/>
				<ref bean="springContactGroupID2"/>
			</set>
		</property>
	</bean>
	
	<bean id="springEntrepriseID" parent="springContactID0" class="domain.Entreprise" scope="prototype">
		<constructor-arg type="long">
			<value>1234567654</value>
		</constructor-arg>
	</bean>
	
	<bean id="springAddressID" class="domain.Address" scope="prototype">
		<property name="street" value="Chopin"/>
		<property name="city" value="Paris"/>
		<property name="zip" value="75000"/>
		<property name="country" value="France"/>	
	</bean>
	
	<bean id="springPhoneNumberID" class="domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="mobile"></property>
		<property name="phoneNumber" value="0798776211"></property>	
		<property name="contact">
			<ref bean="springContactID0"/>
		</property>	
	</bean>
	
	<bean id="springContactGroupID0" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Amis"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID0"/>
				<ref bean="springContactID1"/>
			</set>
		</property>
	</bean>
	<bean id="springContactGroupID1" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Amis"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID0"/>
				<ref bean="springContactID1"/>
			</set>
		</property>
	</bean>
	<bean id="springContactGroupID2" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Amis"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID0"/>
				<ref bean="springContactID1"/>
			</set>
		</property>
	</bean>
	
	
	<bean id="springContactID1" class="domain.Contact" scope="singleton">
		<property name="firstName" value="B"/>
		<property name="lastName" value="C"/>
		<property name="email" value="bc@c.co"/>
		<property name="address"><ref bean="springAddressID1"/></property>
		<property name="phoneNumbers">
			<set>
				<ref bean="springPhoneNumberID1"/>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="home"></property>
					<property name="phoneNumber" value="01111111"></property>	
				</bean>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="fax"></property>
					<property name="phoneNumber" value="09999999"></property>	
				</bean>
			</set>
		</property>
		<property name="books">
			<set>
				<ref bean="springContactGroupID0"/>
				<ref bean="springContactGroupID1"/>
				<ref bean="springContactGroupID2"/>
			</set>
		</property>
	</bean>
	
	<bean id="springEntrepriseID1" parent="springContactID1" class="domain.Entreprise" scope="prototype">
		<constructor-arg type="long">
			<value>1234567654</value>
		</constructor-arg>
	</bean>
	
	<bean id="springAddressID1" class="domain.Address" scope="prototype">
		<property name="street" value="Chopin"/>
		<property name="city" value="Paris"/>
		<property name="zip" value="75000"/>
		<property name="country" value="France"/>	
	</bean>
	
	<bean id="springPhoneNumberID1" class="domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="mobile"></property>
		<property name="phoneNumber" value="071111111"></property>	
		<property name="contact">
			<ref bean="springContactID1"/>
		</property>	
	</bean>
	
</beans>
