<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/codel"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>	
	</bean>

	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>Contact.hbm.xml</value>
				<value>Address.hbm.xml</value>
				<value>ContactGroup.hbm.xml</value>
				<value>PhoneNumber.hbm.xml</value>
				<value>Entreprise.bhm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>




	<bean id="springContactID" class="domain.Contact" scope="singleton">
		<property name="firstName" value="A"/>
		<property name="lastName" value="B"/>
		<property name="email" value="a@c.co"/>
		<property name="address"><ref bean="springAddressID"/></property>
		<property name="phoneNumbers">
			<set>
				<ref bean="springPhoneNumberID"/>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="home"></property>
					<property name="phoneNumber" value="0178987898"></property>	
				</bean>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="fax"></property>
					<property name="phoneNumber" value="0178987898"></property>	
				</bean>
			</set>
		</property>
		<property name="books">
			<set>
				<ref bean="springContactGroupID"/>
				<bean class="domain.ContactGroup">
					<property name="groupName" value="Famille"></property>
				</bean>
				<bean class="domain.ContactGroup">
					<property name="groupName" value="Collegue"></property>
				</bean>
			</set>
		</property>
	</bean>
	
	<bean id="springEntrepriseID" parent="springContactID" class="domain.Entreprise">
		<constructor-arg type="long">
			<value>1234567654</value>
		</constructor-arg>
	</bean>
	
	<bean id="springAddressID" class="domain.Address" scope="prototype">
		<property name="street" value="Chopin"/>
		<property name="city" value="Paris"/>
		<property name="zip" value="75000"/>
		<property name="country" value="France"/>	
	</bean>
	
	<bean id="springPhoneNumberID" class="domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="mobile"></property>
		<property name="phoneNumber" value="0798776211"></property>	
		<property name="contact">
			<ref bean="springContactID"/>
		</property>	
	</bean>
	
	<bean id="springContactGroupID" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Amis"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID"/>
			</set>
		</property>
	</bean>
	
	
	
</beans>
