<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="finalize">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/codel"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>	
	</bean>
	
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">
        	<value>classpath:hibernate.cfg.xml</value>
    	</property>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref ="sessionFactory"></property>
		<property name="checkWriteOperations" value="false"/>
	</bean>

	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> 	
	

	<bean id="springDAOContactID" class="domain.DAOContact">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="service" class="jsf.Service">
		<property name="daoContact" ref ="springDAOContactID">
		</property>
	</bean>
	
	<tx:advice id="txAdvice"> 
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="sav*" propagation="REQUIRED" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes> 
	</tx:advice>
	
	<aop:config>
		<aop:advisor pointcut="execution(* domain.*.*(..))" advice-ref="txAdvice"/>
	</aop:config>
	
	<bean id="springLogger" class="domain.Logger">
	</bean>
	
	<aop:config>
		<aop:aspect id="springAspectEmailLogger" ref="springLogger">
			<aop:pointcut id="welcomePointcut"
				expression="execution(* domain.DAOContact.*(..))"/>
			<aop:after pointcut-ref="welcomePointcut" method="log"/>			
		</aop:aspect>
	</aop:config>

	<bean id="springContactID0" class="domain.Contact" scope="singleton">
		<property name="firstName" value="A"/>
		<property name="lastName" value="B"/>
		<property name="email" value="A@B.CO"/>
		<property name="address"><ref bean="springAddressID"/></property>
		<property name="phoneNumbers">
			<set>
				<ref bean="springPhoneNumberID"/>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="HOMENUMBER"></property>
					<property name="phoneNumber" value="0173337898"></property>	
				</bean>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="FAXNUMBER"></property>
					<property name="phoneNumber" value="0178987898"></property>	
				</bean>
			</set>
		</property>
		<property name="books">
			<set>
				<ref bean="springContactGroupID0"/>
				<ref bean="springContactGroupID1"/>
				<ref bean="springContactGroupID2"/>
			</set>
		</property>
	</bean>
	
	<bean id="springEntrepriseID" parent="springContactID0" class="domain.Entreprise" scope="singleton">
		<constructor-arg type="long">
			<value>1234567654</value>
		</constructor-arg>
	</bean>
	
	<bean id="springAddressID" class="domain.Address" scope="prototype">
		<property name="street" value="ALESIA"/>
		<property name="city" value="PARIS"/>
		<property name="zip" value="75000"/>
		<property name="country" value="FRANCE"/>	
	</bean>
	
	<bean id="springPhoneNumberID" class="domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="MOBILENUMBER"></property>
		<property name="phoneNumber" value="0798776211"></property>	
		<property name="contact">
			<ref bean="springContactID0"/>
		</property>	
	</bean>
	
	<bean id="springContactGroupID0" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Amis"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID0"/>
				<ref bean="springContactID1"/>
			</set>
		</property>
	</bean>
	<bean id="springContactGroupID1" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Collegues"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID0"/>
				<ref bean="springContactID1"/>
			</set>
		</property>
	</bean>
	<bean id="springContactGroupID2" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Famille"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID0"/>
				<ref bean="springContactID1"/>
			</set>
		</property>
	</bean>
	
	
	<bean id="springContactID1" class="domain.Contact" scope="singleton">
		<property name="firstName" value="ATHUR"/>
		<property name="lastName" value="CHOIX"/>
		<property name="email" value="ATHUR@CHOIX.COM"/>
		<property name="address"><ref bean="springAddressID1"/></property>
		<property name="phoneNumbers">
			<set>
				<ref bean="springPhoneNumberID1"/>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="HOMENUMBER"></property>
					<property name="phoneNumber" value="01111111"></property>	
				</bean>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="FAXNUMBER"></property>
					<property name="phoneNumber" value="09999999"></property>	
				</bean>
			</set>
		</property>
		<property name="books">
			<set>
				<ref bean="springContactGroupID0"/>
				<ref bean="springContactGroupID1"/>
				<ref bean="springContactGroupID2"/>
			</set>
		</property>
	</bean>
	
	<bean id="springEntrepriseID1" parent="springContactID1" class="domain.Entreprise" scope="prototype">
		<constructor-arg type="long">
			<value>1234567654</value>
		</constructor-arg>
	</bean>
	
	<bean id="springAddressID1" class="domain.Address" scope="prototype">
		<property name="street" value="RUE DES RANCY"/>
		<property name="city" value="PARIS"/>
		<property name="zip" value="75000"/>
		<property name="country" value="FRANCE"/>	
	</bean>
	
	<bean id="springPhoneNumberID1" class="domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="MOBILENUMBER"></property>
		<property name="phoneNumber" value="071111111"></property>	
		<property name="contact">
			<ref bean="springContactID1"/>
		</property>	
	</bean>
	
	<bean id="springContactID2" class="domain.Contact" scope="singleton">
		<property name="firstName" value="JAVA"/>
		<property name="lastName" value="INC"/>
		<property name="email" value="JAVA@INC.FR"/>
		<property name="address"><ref bean="springAddressID2"/></property>
		<property name="phoneNumbers">
			<set>
				<ref bean="springPhoneNumberID2"/>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="HOMENUMBER"></property>
					<property name="phoneNumber" value="01111111"></property>	
				</bean>
				
				<bean class="domain.PhoneNumber">
					<property name="phoneKind" value="FAXNUMBER"></property>
					<property name="phoneNumber" value="09999999"></property>	
				</bean>
			</set>
		</property>
		<property name="books">
			<set>
				<ref bean="springContactGroupID3"/>
			</set>
		</property>
	</bean>
	
	<bean id="springEntrepriseID2" parent="springContactID2" class="domain.Entreprise" scope="singleton">
		<constructor-arg type="long">
			<value>1234567654</value>
		</constructor-arg>
	</bean>
	
	<bean id="springAddressID2" class="domain.Address" scope="prototype">
		<property name="street" value="BARAULT"/>
		<property name="city" value="PARIS"/>
		<property name="zip" value="75013"/>
		<property name="country" value="FRANCE"/>	
	</bean>
	
	<bean id="springPhoneNumberID2" class="domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="MOBILENUMBER"></property>
		<property name="phoneNumber" value="071111111"></property>	
		<property name="contact">
			<ref bean="springContactID2"/>
		</property>	
	</bean>
	<bean id="springContactGroupID3" class="domain.ContactGroup" scope="singleton">
		<property name="groupName" value="Famille"></property>
		<property name="contacts">
			<set>
				<ref bean="springContactID2"/>
			</set>
		</property>
	</bean>
	
	
</beans>
