<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>codel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>LoginServlet</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
  		org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  <listener>
    <listener-class>
  		org.springframework.web.context.request.RequestContextListener
  	</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <filter>
    <filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>AUTO</param-value>
    </init-param>
  </filter>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.doancaosang.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.doancaosang.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewContact</servlet-name>
    <servlet-class>com.doancaosang.NewContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>com.doancaosang.DeleteContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContactAll</servlet-name>
    <servlet-class>com.doancaosang.DeleteContactAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchContact</servlet-name>
    <servlet-class>com.doancaosang.SearchContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestRequest</servlet-name>
    <servlet-class>com.doancaosang.TestRequest</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>TestSpring</servlet-name>
    <servlet-class>com.doancaosang.TestSpring</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>com.doancaosang.UpdateContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContactSuite</servlet-name>
    <servlet-class>com.doancaosang.UpdateContactSuite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewContact</servlet-name>
    <url-pattern>/NewContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactAll</servlet-name>
    <url-pattern>/DeleteContactAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchContact</servlet-name>
    <url-pattern>/SearchContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestRequest</servlet-name>
    <url-pattern>/TestRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestSpring</servlet-name>
    <url-pattern>/TestSpring</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContactSuite</servlet-name>
    <url-pattern>/UpdateContactSuite</url-pattern>
  </servlet-mapping>
</web-app>